<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Global Renewable Energy Analysis</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

  <style>
    body {
      background-color: #f5f5f5; 
      font-family: 'Roboto', sans-serif; 
    }

    .header {
      margin-top: 50px; 
      font-weight: bold; 
    }

    .input-field label {
      color: #333; 
      font-weight: bold;
    }

    .btn-large {
      background-color: #ffa000; 
      font-weight: bold; 
    }

    .page-footer {
      background-color: #ff6f00; 
    }

    .footer-text {
      color: #fff; 
    }
  </style>
</head>

<body>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Global Renewable Energy Analysis</h1>
      <div class="row center">
        <h5 class="header col s12 light">Predict Renewable Energy Generation</h5>
      </div>

      <div class="row">
        <form action='/predict' method="post" class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <select name="year" id="yearSelect">
                <!-- Options will be added dynamically -->
              </select>
              <label>Select Year</label>
            </div>
            <div class="input-field col s6">
              <select name="model">
                <option value="wind">Wind</option>
                <option value="hydro">Hydro</option>
                <option value="solar">Solar</option>
                <option value="bioenergy">Bioenergy</option>
              </select>
              <label>Select Model</label>
            </div>

            <div class="input-field col s6">
              <input placeholder="Electricity from wind - TWh" name="wind" type="text" class="validate">
              <label for="wind">Electricity from wind - TWh</label>
            </div>

            <div class="input-field col s6">
              <input placeholder="Electricity from hydro - TWh" name="hydro" type="text" class="validate">
              <label for="hydro">Electricity from hydro - TWh</label>
            </div>

            <div class="input-field col s6">
              <input placeholder="Electricity from solar - TWh" name="solar" type="text" class="validate">
              <label for="solar">Electricity from solar - TWh</label>
            </div>
            
            <div class="input-field col s6">
              <input placeholder="Electricity from bioenergy - TWh" name="bioenergy" type="text" class="validate">
              <label for="bioenergy">Electricity from bioenergy - TWh</label>
            </div>
            
            <div class="input-field col s6">
              <select name="entity">
                {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
              </select>
              <label>Select Entity (Country)</label>
            </div>
            
            <div class="input-field col s6">
              <input placeholder="Total Renewable Electricity - TWh" name="total_renewable" type="text" class="validate">
              <label for="total_renewable">Total Renewable Electricity - TWh</label>
            </div>

            <div class="input-field col s6">
              <input placeholder="Electricity from Non-Renewables - TWh" name="non_renewable" type="text" class="validate">
              <label for="non_renewable">Electricity from Non-Renewables - TWh</label>
            </div>
          </div>

          <div class="row center">
            <button type="submit" class="btn-large waves-effect waves-light orange">Predict Renewable Energy</button>
          </div>
        </form>
      </div>

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Group Bio</h5>
          <p class="grey-text text-lighten-4 footer-text">Group 9 work.</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var yearSelect = document.getElementById('yearSelect');
      var currentYear = new Date().getFullYear();
      for (var year = 2021; year <= 2049; year++) {
        var option = document.createElement('option');
        option.value = year;
        option.text = year;
        yearSelect.appendChild(option);
      }
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);
    });
  </script>
</body>
</html>
